ul /* Channels */ {
  padding: 0;
  margin: 0;

  > li {
    list-style: none;

    > span {
      font-weight: bold;
      font-size: 1.2em;
    }
  }
  > li::before {
    content: "#";
    display: inline-block;
    font-size: 1rem;
    width: 1.5rem;
    text-align: center;
  }
  > li[data-channel-type="forum_post"]::before {
    content: "💬";
  }
}

ol /* Messages */ {
  padding: 0;
  margin: 0;

  > li {
    list-style: none;

  }
}
