{% unless PARENT == link.parent_channel.id %}
<div data-channel-type="{{ link.channel.type }}">
  {% if link.parent_channel.id %}
    <code data-forum><pre>{{ link.parent_channel.name }}</pre></code>
  {% else %}
    <code data-text><pre>{{ link.channel.name }}</pre></code>
  {% endif %}
</div>
{% endunless %}

{%- capture slim %}{% include slim_record.html %}{% endcapture -%}
<li
  data-platform="{{ link.platform }}"
  data-message-id="{{ link.message.id }}"
  data-player="{{ slim | xml_escape }}"
  data-continue="{{ PARENT == link.parent_channel.id }}"
  data-deeplink="{{ link.deep_link }}"
  style="order: {{ link.message.timestamp | date: '%s' | times: -1 }}"
>
  <a href="{{ link.url | clean_url }}">
    <code>{{ link.label | clean_title }}</code>
    <!-- <a href="{{ link.deep_link }}" data-icon data-deeplink title="View in Discord"></a> -->
    {% if link.embed %}
      <img data-cover src="{{ link.embed.thumbnail_url }}" />
    {% else %}{% if link.attachment %}
      <img data-cover src="" />
    {% endif %}{% endif %}
  </a>
</li>
